{% extends 'Main/base.html' %}
{% block content %}
{% load static %}

    <div class="blog-list pb-100px pt-100px main-blog-page single-blog-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 ms-auto me-auto">
                        <div class="row">
                            <div class="col-12 mb-50px">
                                <div class="single-blog">
                                    <div class="blog-image">
                                        <a href="blog-single-left-sidebar.html"><img src="{% static 'assets/images/blog-image/1.webp' %}" class="img-responsive w-100" alt=""></a>
                                    </div>
                                    <div class="blog-text">
                                        <div class="blog-athor-date line-height-1">
                                            <span class="blog-date"><i class="fa fa-calendar" aria-hidden="true"></i> 27,Jun 2030</span>
                                            <span><a class="blog-author" href="blog-grid.html"><i class="fa fa-user" aria-hidden="true"></i> Oaklee Odom</a></span>
                                        </div>
                                        <h5 class="blog-heading"><a class="blog-heading-link" href="blog-single-left-sidebar.html">The Top Reasons People Succeed in the Smart Product Industry.</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                        <a href="blog-single-left-sidebar.html" class="btn btn-primary blog-btn"> Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <div class="col-12 mb-50px">
                                <div class="single-blog ">
                                    <div class="blog-image">
                                        <a href="blog-single-left-sidebar.html"><img src="{% static 'assets/images/blog-image/2.webp' %}" class="img-responsive w-100" alt=""></a>
                                    </div>
                                    <div class="blog-text">
                                        <div class="blog-athor-date line-height-1">
                                            <span class="blog-date"><i class="fa fa-calendar" aria-hidden="true"></i> 27,Jun 2030</span>
                                            <span><a class="blog-author" href="blog-grid.html"><i class="fa fa-user" aria-hidden="true"></i> Kabir Akle</a></span>
                                        </div>
                                        <h5 class="blog-heading"><a class="blog-heading-link" href="blog-single-left-sidebar.html">10 Principles of Psychology to Improve Your Smart Product.</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                        <a href="blog-single-left-sidebar.html" class="btn btn-primary blog-btn"> Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <div class="col-12 mb-50px">
                                <div class="single-blog">
                                    <div class="blog-image">
                                        <a href="blog-single-left-sidebar.html"><img src="{% static 'assets/images/blog-image/3.webp'%}" class="img-responsive w-100" alt=""></a>
                                    </div>
                                    <div class="blog-text">
                                        <div class="blog-athor-date line-height-1">
                                            <span class="blog-date"><i class="fa fa-calendar" aria-hidden="true"></i> 27,Jun 2030</span>
                                            <span><a class="blog-author" href="blog-grid.html"><i class="fa fa-user" aria-hidden="true"></i> Fahim Adnan</a></span>
                                        </div>
                                        <h5 class="blog-heading"><a class="blog-heading-link" href="blog-single-left-sidebar.html">Don't Make This Silly Mistake With Your Smart Product.</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                        <a href="blog-single-left-sidebar.html" class="btn btn-primary blog-btn"> Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <div class="col-12 mb-50px">
                                <div class="single-blog">
                                    <div class="blog-image">
                                        <a href="blog-single-left-sidebar.html"><img src="{% static 'assets/images/blog-image/4.webp'%}" class="img-responsive w-100" alt=""></a>
                                    </div>
                                    <div class="blog-text">
                                        <div class="blog-athor-date line-height-1">
                                            <span class="blog-date"><i class="fa fa-calendar" aria-hidden="true"></i> 27,Jun 2030</span>
                                            <span><a class="blog-author" href="blog-grid.html"><i class="fa fa-user" aria-hidden="true"></i> Bueat Odom</a></span>
                                        </div>
                                        <h5 class="blog-heading"><a class="blog-heading-link" href="blog-single-left-sidebar.html">8 Effective Smart Product Elevator Pitches Modern Technology.</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                        <a href="blog-single-left-sidebar.html" class="btn btn-primary blog-btn"> Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <div class="col-12 mb-50px">
                                <div class="single-blog">
                                    <div class="blog-image">
                                        <a href="blog-single-left-sidebar.html"><img src="{% static 'assets/images/blog-image/5.webp' %}" class="img-responsive w-100" alt=""></a>
                                    </div>
                                    <div class="blog-text">
                                        <div class="blog-athor-date line-height-1">
                                            <span class="blog-date"><i class="fa fa-calendar" aria-hidden="true"></i> 27,Jun 2030</span>
                                            <span><a class="blog-author" href="blog-grid.html"><i class="fa fa-user" aria-hidden="true"></i> Shah Alam</a></span>
                                        </div>
                                        <h5 class="blog-heading"><a class="blog-heading-link" href="blog-single-left-sidebar.html">The Intermediate Guide How to Use Smart Product.</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                        <a href="blog-single-left-sidebar.html" class="btn btn-primary blog-btn"> Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Pagination Area Start -->
                <div class="pro-pagination-style text-center mt-0 mb-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="pages">
                        <ul>
                            <li class="li"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                            <li class="li"><a class="page-link active" href="#">1</a></li>
                            <li class="li"><a class="page-link" href="#">2</a></li>
                            <li class="li"><a class="page-link" href="#">3</a></li>
                            <li class="li"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--  Pagination Area End -->
            </div>
        </div>
        <!-- Blag Area End -->

{% endblock %}